<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <th:block th:each="msg : ${messages}">
        <h1 th:text="${msg}"></h1>
    </th:block>
</div>
<p><a href="/car_service/cars">Cars (request without parameters)</a></p>
<p><a href="/car_service/cars?count=5">Cars count = 5 </a></p>
<p><a href="/car_service/cars?count=3">Cars count = 3 </a></p>
<p><a href="/car_service/cars?count=0">Cars count = 0 </a></p>
<p><a href="/car_service/cars?count=5000">Cars count = 5000 </a></p>
</body>
</html>